 /* 1. ---General Styles--- */

html {
    /* max-width: 1200px; */
    margin: auto;
}

 body {
    color: #707070;
    font-family: 'Sanchez', 'Times New Roman', serif;
}
 
 a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}
 
 input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p h1 h2 h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Index page mobile*/


#main-nav button {
    background: url(../images/hamburger-menu.svg) no-repeat center;
    width: 80px;
    height: 120px;
    border: none;
    transition: all .5s ease;
    cursor: pointer;
}

#main-nav button.expanded {
    transform: rotate(90deg);
    background-color: #E8ECFF;
}

#main-nav {
    justify-self: center;
}

#burger-con {
    /* display: none; */
    position: absolute;
    width: 180px;
    height: 300px;
    box-shadow: 10px 5px 5px #873587;
    background-color: #E8ECFF;
    border-radius: 10%;
}

#burger-con ul {
    text-align: center;
    margin: 0 20px 10px -10px;
}
    
#burger-con li {
    padding: 20px 0;
    border-bottom: 2px dashed #D95CE0;
}

#burger-con ul li a {
    color: #D95CE0;
    font-size: 1.5rem;
}

#burger-con ul li a:hover {
    color: #873587;
}

#logo {
    justify-self: center;
    margin-top: 7px;
    cursor: pointer;
    z-index: 1;
}

#logo img {
    width: 300px;
}

#search-bar button {
    width: 100px;
    height: 130px;
    border: none;
    background-color: white;
    margin-left: -10px;
    cursor: pointer;
}
 #search-bar {
    justify-self: center;
 }


#index-hero {
    grid-column: 1/-1;
    grid-row: 1/1;
}

#index-hero {
    object-fit: cover;
}

#hero .grid-con {
   grid-column: 1/3;
   grid-row:1/2;
   margin: 0;
   margin-left: -15px;
}

#hero-backgound-box {
    align-self: end;
    background-color: #907EF2;
    padding: 15px 0 0px 30px;
    border-radius: 0 50px 0 0;
}

#hero-backgound-box h2 {
    color: white;
    font-size: 1.7em;
}

/*Body*/

#hero-summary {
    background-color: #907EF2;
    padding-bottom: 40px;
    border-radius: 0 0 80px 0;
    color: white;
    padding-left: 20px;
}

#hero-summary h3 {
    padding: 12px;
    font-size: 1.5em;
}

#hero-summary p {
    padding-left: 12px;
    margin-right: 35px;
    line-height: 25px;
}

/**Product section**/

.products-section h2 {
    padding-left: 30px;
    padding-top: 20px;
    margin-top: 15px;

}

.products-section h2 a {
    color: #D95CE0;
    font-size: 1.9rem;
}

.products-section h2 a:hover {
    color: #873587;
}

#orange-bg {
    margin-top: 30px;
    border-radius: 70px 0 70px 0;
    background: url(../images/bg_orange.jpg) no-repeat;
    background-size: cover;
    height: 300px;
    width: 200px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}


#orange-bg img {
    width: 110px;
    padding-top: 25px;
}

.product-brief {
    margin-top: 40px;
}

.product-brief h3 {
    padding-bottom: 20px;
    color: #D95CE0;
    font-size: 1.425rem;
}

.product-brief p {
    padding-bottom: 20px;
    font-size: 1.140rem;
    margin-right: 10px;
}

.product-brief button {
    width: 150px;
    padding: 10px 0;
    border-radius: 20px 20px;
    border: none;
    background-color: #CE5ED1;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#grape-bg {
    margin-top: 30px;
    border-radius: 70px 0 70px 0;
    background: url(../images/bg_grape.jpg) no-repeat;
    background-size: cover;
    height: 300px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 200px;
    overflow: hidden;
}

#grape-bg img {
    width: 110px;
    padding-top: 25px;
}

#lemon-bg {
    margin-top: 30px;
    margin-bottom: 60px;
    border-radius: 70px 0 70px 0;
    background: url(../images/bg_lemon.jpg) no-repeat;
    background-size: cover;
    height: 300px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 200px;
    overflow: hidden;
}

#lemon-bg img {
    width: 110px;
    padding-top: 25px;
}

/*hover animation*/
#orange-bg img:hover {
    transform: scale(1.125);
}

#grape-bg img:hover {
    transform: scale(1.125);
}

#lemon-bg img:hover {
    transform: scale(1.125);
}

.product-brief button:hover {
    background-color: #873587;
}


/*footer*/
#footer {
    border: 1px solid grey;
    background-color: #907EF2;
    color: white;
    padding-top: 20px;
    border-radius:120px 0 0 0;
}

#footer ul li a {
    color: white;
    font-size: 1.425rem;
}

#footer ul {
    margin-top: 20px;
}

#footer ul li {
    padding: 5px 0;
}

#social-media {
    margin-left: 35px;
    margin-bottom: 20px;
}

#social-media img {
    padding-right: 10px;
}

.line {
    border-bottom: 2px dashed white;
}

.terms p {
    padding: 3px;
    font-size: 0.75rem;
}

.terms {
    margin-top: 5px;
    margin-bottom: 5px;
}

.terms p:hover {
    text-decoration: underline;
}



/*footer animation*/

#footer ul li span {
    padding: 5px 10px;
    margin-left: 5px;
}

#footer ul li a:hover + span{
    background: url(../images/star.svg) no-repeat;
    background-size: 90%;
}

#footer a:hover {
    border-bottom: 2px dashed white;
    padding-bottom: 5px;
    transition: 0s;
}

#social-media:hover {
    color: #873587;
}

/*tablet screen*/

@media screen and (min-width: 768px) {

    /*header menu*/

    #main-nav button {
        display: none;
    }

    #sticky-nav-con {
        background-color: white;
        position: sticky;
        top: 0px;
        z-index: 1;
        padding-bottom: 10px;
        padding-left: 20px;
    }

    #main-nav {
        background-color: white;
        justify-self: right;
        align-self: self-end;
        z-index: 1;
        grid-row-start: 1;
    }

    #burger-con {
        display: inline;
        position: inherit;
        width: 0;
        height: 0;
        box-shadow: none;
        border-radius: 0;
        margin: 0;
    }
        
    #burger-con ul li {
        padding: 0;
        border-bottom: 0;
        display: inline;
    }
    
    #burger-con ul li a {
        color: #D95CE0;
        font-size: 1.4em;
        padding-left: 35px;
        /* padding-right: 0;
        margin-right: 0; */
    }
        

    #logo {
        justify-self: left;
        width: 400px;
        margin-bottom: 0;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #logo img {
        width: 250px;
        padding: 0 0;
    }

    #main-header {
        order: 2;
    }

    #search-bar {
        display: none;
    }

    /*body section*/

    #hero-backgound-box {
        padding-top: 20px;
    }

    #hero-backgound-box h2 {
        font-size: 2.5em;
        border-radius: 0 80px 0 0;
        padding-bottom: -20px;
    }

    #hero-summary {
        padding-bottom: 90px;
        border-radius: 0 0 200px 0;
        padding-top: 20px;
    }

    #hero-summary h3 {
        padding-left: 10px;
        font-size: 1.75em;
        padding-top: 10px;
        
    }

    #hero-summary p {
        margin-top: 15px;
        padding-left: 10px;
        margin-right: 30px;
        font-size: 1.25em;
        line-height: 25px;
    }

    .products-section h2 {
        margin-left: 10px;
        margin-top: 30px;
        margin-bottom: 30px;        
        font-size: 1.25em;
    }

    #orange-bg {
        justify-self: right;
        width: 230px;
        height: 350px;
    }

    #grape-bg {
        justify-self: right;
        width: 230px;
        height: 350px;
    }

    #lemon-bg {
        justify-self: right;
        width: 230px;
        height: 350px;
    }

    #orange-bg img {
        width: 130px;
        padding-top: 60px;
        filter: drop-shadow(-5px 5px 3px grey);
    }

    #grape-bg img {
        width: 130px;
        padding-top: 60px;
        filter: drop-shadow(-5px 5px 3px grey);
    }

    #lemon-bg img {
        width: 130px;
        padding-top: 60px;
        filter: drop-shadow(-5px 5px 3px grey);
    }

    .product-brief {
        text-align: left;
        margin: 60px 60px 0 10px;
    }

    .product-brief h3 {
        font-size: 2em;
    }

    .product-brief p {
        font-size: 1.25rem;
        line-height: 30px;
    }

    .product-brief button {
        width: 250px;
        padding: 15px 10px;
        border-radius: 30px 30px;
        font-weight: bold;
        cursor: pointer;
        font-size: 1.2em;
    }

    /*Footer*/
    
    #footer {
        border-radius:180px 0 0 0;
    }

    .footer-nav {
        margin-left: 50px;
    }

    #footer ul li a {
        font-size: 1.5rem;
    }

    #social-media {
        align-self: center;
        margin-top: 90px;
        margin-left: 15px;
    }

    #social-media img {
        width: 70px;
    }

    .line {
        margin: 0 80px;
    }

    .terms {
        margin: 10px 80px;
        margin-bottom: 20px;
    }

    .terms p {
        font-size: 0.8em;
        cursor: pointer;
    }

    #footer ul li a:hover + span{
        background-size: 100%;
    }

}

/*desktop screen*/

@media screen and (min-width: 1200px) {
    
/*header*/


    #burger-con ul li a {
        font-size: 1.7em;
    }


    #hero-backgound-box {
        background-color: #907EF2;
        padding-top: 50px;
        padding-bottom: 20px;
        padding-left: 45px;
        border-radius: 0 120px 0 0;
    }
    
    #hero-backgound-box h2 {
        font-size: 2.75em;
    }

    /*Body section*/

    #hero-summary {
        /* margin-left: -60px;
        margin-right: -60px; */
        padding-left: 10px;

    }
    
    #hero-summary h3 {
        font-size: 2rem;
        padding: 15px 20px 0 30px ;   
    }
    
    #hero-summary p {
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 1.5rem;
        line-height: 30px;
    }

    /**Product section**/

    .products-section {
        margin: 0 10px 0 10px;
        justify-self: center;
    }

    .products-section h2 {
        margin-top: 50px;
        margin-left: 30px;
    }

    .products-section h2 a {
        font-size: 3em;
    }

    #grape-bg {
        grid-row-start: 1;
        justify-self: center;
        margin-top: 60px;
        height: 500px;
        width: 300px;
    }

    #lemon-bg {
        grid-row-start: 1;
        justify-self: center;
        margin-top: 60px;
        height: 500px;
        width: 300px;
    }
    
    #orange-bg {
        justify-self: center;
        margin-top: 60px;
        height: 500px;
        width: 300px;
    }

    #orange-bg img {
        width: 160px;
        padding-top: 70px;
    }

    #grape-bg img {
        width: 160px;
        padding-top: 70px;
    }

    #lemon-bg img {
        width: 160px;
        padding-top: 70px;
    }

    .product-brief {
        text-align: center;
        margin: 0 0 40px 0;
    }
    
    .product-brief h3 {
        font-size: 2.5em;
    }
    
    .product-brief p {
        font-size: 1.25rem;
        height: 200px;
        /* margin-left: 40px; */
    }

    .product-brief button {
        margin-bottom: 30px;
    }
    
    /*footer*/

    .footer-nav {
        margin-left: 70px;
    }

    #footer ul li a {
        font-size: 2rem;
    }

    #social-media {
        margin-left: 70px;
    }

    #social-media img {
        width: 90px;
    }

    .terms p {
        font-size: 1em;
    }

}

/*Product page*/

/*Mobile screen size*/

.burple-products {
    margin-top: 50px;
    margin-bottom: 20px;
}

.product-info {
    justify-self: center;
}

.products-bg {
    border-radius: 90px 0 90px 0;
    height: 310px;
    width: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px #907EF2;
}

.products-bg img {
    width: 110px;
    margin-top: 25px;
    filter: drop-shadow(-5px 5px 3px grey);
}

.products-bg img:hover {
    transform: scale(1.125);
}

.burple-products h3 {
    color: #D95CE0;
    text-align: center;
    padding: 20px 0 50px 0;
    font-size: 1.7em;
}

#lemon {
    background: url(../images/bg_lemon.jpg) no-repeat;
    background-size: cover;
}

#orange {
    background: url(../images/bg_orange.jpg) no-repeat;
    background-size: cover;
}

#apple {
    background: url(../images/bg_apple.jpg) no-repeat;
    background-size: cover;
}

#grape {
    background: url(../images/bg_grape.jpg) no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 10px #907EF2;
}

#cherry {
    background: url(../images/bg_cherry.jpg) no-repeat;
    background-size: cover;
}

#peach {
    background: url(../images/bg_peach.jpg) no-repeat;
    background-size: cover;
}

.line-seperator {
    width: auto;
    border-bottom: 5px dashed #D95CE0;
    margin: 0 40px;
}

#labels-download {
    margin-top: 50px;
    justify-content: center;
}

#labels-download h3 {
    font-size: 1.7em;
    color: #D95CE0;
    margin-bottom: 20px;
}

#download-gallery li button {
    width: 20px;
    height: 20px;
    background-color: #D95CE0;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

#download-gallery li {
    display: inline;
    padding: 0 5px;
}

#download-gallery {
    text-align: center;
}

#download-gallery li button:hover {
    width: 35px;
    border-radius: 20px;
    /* background-color: white;
    border: 6px solid #D95CE0; */
}

/*Tablet screen size*/

@media screen and (min-width: 768px) {

    .product-info {
        margin-bottom: 20px;
    }

    .products-bg {
        height: 420px;
        width: 270px;
    }

    .burple-products {
        margin: 80px 50px 40px 50px;
    }

    .products-bg img {
        margin-top: 45px;
        width: 150px;
    }

    .burple-products h3 {
        font-size: 1.8em;
        margin-left: -30px;
    }

    #labels-download {
        margin-bottom: 60px;
        padding: 0 30px;
    }

    #labels-download h3 {
        font-size: 2em;
    }
    
}

/*Desktop screen size*/

@media screen and (min-width: 1200px) {

    .product-info {
        margin-bottom: 40px;
    }

    .products-bg {
        height: 530px;
        width: 320px;
        border-radius: 120px 0 150px 0;
    }    

    .products-bg img {
        margin-top: 70px;
        width: 170px;
    }

    .burple-products h3 {
        font-size: 2.5em;
    }

    .line-seperator {
        margin: 0 60px;
    }

}

/*Contact page*/

/*Mobile screen size*/

    #hero-summary-s {
        background-color: #907EF2;
        /* padding-bottom: 100px; */
        height: 600px;
        color: white;
        padding-left: 20px;
        border-radius: 0 0 300px 300px;
        margin-bottom: 180px;
        grid-row-start: 1;
    }

    #hero-summary-s h3 {
        padding: 12px 10px;
        font-size: 1.5em;
    }

    #hero-summary-s p {
        padding-left: 12px;
        margin-right: 35px;
        line-height: 25px;
    }

    #contact-form {
        grid-row-start: 1;
        justify-self: center;
        margin-top: 140px;
        margin-bottom: 10px;
    }

    #contact-form form {
        display: flex;
        flex-direction: column;
    }
    
    #contact-form input, textarea {
        padding: 22px;
        border: 2px solid #907EF2;
        border-radius: 50px;
        margin-bottom: 15px;
        font: inherit;
        width: 400px;
    }
    
    #contact-form textarea {
        height: 250px;
        margin-bottom: 40px;
    }
    
    #contact-form input[type="submit"] {
        padding: 12px 28px;
        background: #D95CE0;
        border: 3px solid white;
        outline: 2px solid #D95CE0;
        color: #fff;
        transition: all 200ms ease-in;
        width: 150px;
        align-self: flex-end;
    }

    #contact-form input[type="submit"]:hover {
        background-color: #873587;
        outline-color: #873587;
    }

/*Tablet screen size*/

@media screen and (min-width: 768px) {

    #hero-summary-s h3 {
        font-size: 1.75em;
    }
    
    #hero-summary-s p {
        font-size: 1.25em;
    }

    #contact-form {
    margin-bottom: 50px;
    }
 
    #contact-form input, textarea {
        padding: 27px;
        font-size: 1.5em;
        width: 600px;
    }
 
    #contact-form textarea {
        height: 300px;
        margin-bottom: 40px;
    }
 
 #contact-form input[type="submit"] {
        width: 180px;
    }

}

/*Desktop screen size*/


@media screen and (min-width: 1200px) {

    #hero-summary-s {
        padding-left: 35px;
    }

    #hero-summary-s h3 {
        font-size: 2em;
    }
    
    #hero-summary-s p {
        font-size: 1.5em;
    }

    #contact-form input, textarea {
        padding: 27px;
        font-size: 1.5em;
        width: 900px;
    }
 
    #contact-form textarea {
        height: 400px;
        margin-bottom: 40px;
    }


    #contact-form input[type="submit"] {
        width: 250px;
        padding: 20px 0;
    }

}